@model GetUserVM

<section class="content">
    <div class="content-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-info card-outline mt-5">
                    <div class="card-header">
                        <h3 class="card-title">Kullanıcı Bilgileri</h3>
                    </div>
                    <div class="card-body">
                            @if (Model.LockoutEnd != null)
                            {
                                <h3 class="text-danger">Engellenmiş</h3>
                            }
                            <p><strong>Ad Soyad:</strong> @Model.NameSurname</p>
                            <p><strong>Email:</strong> @Model.Email</p>
                            <p><strong>Telefon Numarası:</strong> @Model.PhoneNumber</p>
                            <p>
                                <strong>Yetki:</strong>  @foreach (var role in Model.Roles)
                                {
                                    <span>@role </span>
                                }
                            </p>
                    </div>
                    <div class="card-footer clearfix">
                        <a class="btn btn-warning btn-sm float-right" asp-action="UserList">Kullanıcı Listesi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>